header {
    display: flex;
    background-color: #808080;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

nav {
    text-align: right;
    display: inline-block;
}

h1 {
    font-family: 'Recursive', sans-serif;
    color: #001a33;
    display: inline-block;
    text-shadow: 2px 2px 0 #000;
    font-size: 40px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.7s;
}

#links::before {
    content: "";
    background-color: #001a33;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #001a33;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}

#button:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

#links:focus, #button:focus{
    color: #e6f2ff;
}
