.action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.7s;
}

.action::before {
    content: "";
    background-color: #001a33;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.action:focus {
    color: #e6f2ff;
}