.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-project .logo{
    background-color: #000;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 0px #fff;
    transition: transform 100ms linear;
}

.card-project .logo:hover {
    transform: scale(1.1);
}