.main-banner {
    background-image: url(./../../assents/img/photo.png);
    background-repeat: no-repeat;
    height: 680px;
    border-bottom: 10px solid #001a33;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 115px;
}

.main-banner .wrapper-banner {
    display: flex;
    flex-direction: column;
    width: 480px;

}

.main-banner .main-box {
    margin-bottom: 38px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}

