.main-header {
    display: flex;
    background-color: #BFBFBF;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.main-header .title {
    display: inline-block;
}