.main-input {
    box-sizing: border-box;
    border: 3px solid #000;
    font-size: 20px;
    height: 40px;
    width: 100%;
    padding: 0 5px;
}

.main-input.-message {
    height: 240px;
}

.main-input:invalid {
    border: 3px solid #BFBFBF;
}