.main-carousel {
    display: flex;
    position: relative;
    padding: 0 10vw;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 75px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 5vw;
}

.main-carousel .button-arrow.-right {
    right: 5vw;
}

.main-carousel .items {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}