.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 80px;
}

.main-carousel::after{
    content: "";
    position: absolute;
    left: 40px;
    display: block;
    height: 4px;
    width: calc(100% - 80px);
    background-color: #000;
    top: 36px;
}

.main-carousel::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    height: 0;
    width: 100%;
    border: 2.5px dashed #000;
    top: 36px;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 75px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    transition: 200ms ease-out;
}