.main-section {
    background-color: blueviolet;
    border-bottom: 10px solid #000;
}

.main-section .main-title {
    margin-bottom: 50px;
    padding-top: 45px;
}

.main-section.-bgGray {
    background-color: #a6a6a6;
}

.main-section.-bdGray {
    border-bottom: 10px solid blueviolet;

}