@media screen and (max-width: 760px) {
    .main-header .navigation {
        display: none;
    }

    .node-card .wrapper-content {
        flex-direction: column;
    }

    .main-carousel .button-arrow{
        bottom: 288px;
    }
}