.section {
    background-color: blueviolet;
    border-bottom: 10px solid #000;
}

.section .main-title {
    margin-bottom: 50px;
    padding-top: 45px;
}

.section.-bgGray {
    background-color: #a6a6a6;
}

.section -bdBlack {
    border-bottom: 10px solid #000;
}